@import url('./assets/iconfont.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .absolute-screen-center {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}

@font-face {
  font-family: ArchitectsDaughter;
  src: url('./assets/ArchitectsDaughter.ttf');
}

@font-face {
  font-family: Bokor;
  src: url('./assets/Bokor.ttf');
}

* {
  font-family: Bokor, serif;
}
